# Streamlit Community Cloud 배포 시 [Settings] -> [Secrets] 에 입력할 값 예시
GEMINI_API_KEY = "여러분의_GEMINI_API_키"
TODAYKOREAN_BOT_TOKEN = "8520917536:AAEsTJ863uIGK3rOs0zFrwx_4MxGULFXXUk"
TODAYKOREAN_CHAT_ID = "-5537868086"
ADMIN_PASSWORD_HASH = "9abd61c5d45ee60305a3974e72b04c94c70ccf3a7c3a5c5a03bbf6c7e3e8e272"
NCP_CLIENT_ID = "jvden4cgus"
NCP_CLIENT_SECRET = "CAbymJysI8tJ8xz35iTz480rnRwvFEAE8iBg81gP"
